flows.json
[{"id":"f7f38c57.a2cba","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"da87e1e.db3e92","type":"inject","z":"f7f38c57.a2cba","name":"毎週土曜にリマインド発火","props":[{"p":"payload"}],"repeat":"","crontab":"00 10 * * 6","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":700,"wires":[["1ec7742f.b1d36c"]]},{"id":"49e7ae5f.7c81e","type":"PushMessage","z":"f7f38c57.a2cba","name":"","channelSecret":"Your Channel Secret","channelAccessToken":"Your Access Token","targetId":"Your User Id","x":980,"y":920,"wires":[]},{"id":"c3fb0135.f6b3","type":"http request","z":"f7f38c57.a2cba","name":"PUT JSON BOX","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://jsonbox.io/box_5ba3ff4bbb3fb04b3404/5fcc8c0e17106b0017dc49f1","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":260,"wires":[["7e72cf92.34fb3","de60e89f.0cc138"]]},{"id":"2d2e16ac.fb754a","type":"function","z":"f7f38c57.a2cba","name":"","func":"msg.headers = {\n    \"content-type\": \"application/json\"\n};\nmsg.payload = {\n    \"switch\":\"on\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["c3fb0135.f6b3"]]},{"id":"1ec7742f.b1d36c","type":"http request","z":"f7f38c57.a2cba","name":"GET JSON BOX","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://jsonbox.io/box_5ba3ff4bbb3fb04b3404/5fcc8c0e17106b0017dc49f1","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":700,"wires":[["52e24a8f.f70d74"]]},{"id":"52e24a8f.f70d74","type":"json","z":"f7f38c57.a2cba","name":"","property":"payload","action":"","pretty":false,"x":710,"y":700,"wires":[["d5919349.f5936"]]},{"id":"1406695e.0425d7","type":"http in","z":"f7f38c57.a2cba","name":"","url":"/line","method":"post","upload":false,"swaggerDoc":"","x":160,"y":280,"wires":[["f21742fd.de1d2"]]},{"id":"7e72cf92.34fb3","type":"debug","z":"f7f38c57.a2cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":260,"wires":[]},{"id":"f21742fd.de1d2","type":"switch","z":"f7f38c57.a2cba","name":"","property":"payload.events[0].message.text","propertyType":"msg","rules":[{"t":"cont","v":"よろしく","vt":"str"},{"t":"cont","v":"キャンセル","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":440,"wires":[["2d2e16ac.fb754a"],["ca5cd914.9de368"],[]]},{"id":"7f592cfd.a79524","type":"http request","z":"f7f38c57.a2cba","name":"PUT JSON BOX","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://jsonbox.io/box_5ba3ff4bbb3fb04b3404/5fcc8c0e17106b0017dc49f1","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":500,"wires":[["2c813533.dcb39a","28688cd5.49f104"]]},{"id":"ca5cd914.9de368","type":"function","z":"f7f38c57.a2cba","name":"","func":"msg.headers = {\n    \"content-type\": \"application/json\"\n};\nmsg.payload = {\n    \"switch\":\"off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["7f592cfd.a79524"]]},{"id":"2c813533.dcb39a","type":"debug","z":"f7f38c57.a2cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":500,"wires":[]},{"id":"d5919349.f5936","type":"switch","z":"f7f38c57.a2cba","name":"","property":"payload.switch","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":700,"wires":[["8aeca1ab.4cc12"]]},{"id":"8aeca1ab.4cc12","type":"change","z":"f7f38c57.a2cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"こちらにアクセス→ https://sodai.tokyokankyo.or.jp/Sodai/V2Main/13116/0 電話は→03-5296-7000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":860,"wires":[["49e7ae5f.7c81e","592056ea.066e38"]]},{"id":"d3bfa848.79e9f8","type":"PushMessage","z":"f7f38c57.a2cba","name":"","channelSecret":"Your Channel Secret","channelAccessToken":"Your Access Token","targetId":"Your User Id","x":1120,"y":460,"wires":[]},{"id":"de60e89f.0cc138","type":"change","z":"f7f38c57.a2cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"土曜日の10時に教えるよ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":360,"wires":[["d3bfa848.79e9f8"]]},{"id":"28688cd5.49f104","type":"change","z":"f7f38c57.a2cba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"キャンセルしたよ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":600,"wires":[["d3bfa848.79e9f8"]]},{"id":"8a181125.1291a","type":"http request","z":"f7f38c57.a2cba","name":"POST JSON BOX","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://jsonbox.io/box_5ba3ff4bbb3fb04b3404","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":100,"wires":[["953dbb37.503f98"]]},{"id":"ce594985.cc6868","type":"inject","z":"f7f38c57.a2cba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["48e7a74c.8e8718"]]},{"id":"953dbb37.503f98","type":"debug","z":"f7f38c57.a2cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"48e7a74c.8e8718","type":"function","z":"f7f38c57.a2cba","name":"","func":"msg.headers = {\n    \"content-type\": \"application/json\"\n};\nmsg.payload = {\n    \"switch\":\"off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["8a181125.1291a"]]},{"id":"592056ea.066e38","type":"debug","z":"f7f38c57.a2cba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":820,"wires":[]},{"id":"d76f41d5.51616","type":"comment","z":"f7f38c57.a2cba","name":"jsonboxのPOSTテスト","info":"","x":180,"y":60,"wires":[]},{"id":"45dec0fe.7d3f4","type":"comment","z":"f7f38c57.a2cba","name":"BOTのON/OFF切替","info":"","x":170,"y":240,"wires":[]},{"id":"33738fc7.6cd31","type":"comment","z":"f7f38c57.a2cba","name":"LINEに定期的にメッセージを送る","info":"","x":240,"y":660,"wires":[]}]